.modal {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  width: 30%;
  min-height: 50vh;
  background-color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.modal.isOpen {
  display: flex;
}

.modal_container {
  width: 50vw;
  max-height: 50vh;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal_container::-webkit-scrollbar {
  display: none;
}

.modal_close {
  position: sticky;
  top: 5%;
  left: 75%;
}

@media screen and (max-width: 1400px) {
  .modal_close {
    position: sticky;
    top: 5%;
    left: 75%;
  }
  .modal_container {
    max-height: 550px;
  }
}

@media screen and (max-width: 528px) {
  .modal_close {
    top: 0;
    left: 80vw;
  }
  .modal_container {
    max-height: 790px;
    width: 100vw;
    padding: 5vh;
  }
}
